body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 15px;
  margin-right: 15px;
}

table, th, td {
    border: 0.5px solid silver;
}

table {
  width: 100%;
  font-size: 11px;
  border-collapse: collapse;
  text-align: center;
}

ul {
  list-style-type: square;
  font-size: 12px;
}

.left_text_in_table {
  text-align: center;
}


.nav-element a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 1200px;
  }

  .header {
    margin-bottom: 15px;
    width: 100%;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    font-size: 24px;
  }

  .nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    padding-right: 45px;
  }

  .nav-element {
    padding-left: 20px;
  }

  .nav-element a:hover {
    color: #014f80;
  }

  .section__center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 5px 2.5px rgba(221, 221, 221, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
  }

  .section__center-header {
	width: 100%;
  }

  .section__center-img {
	width: 40%
  }

  .section__center-text {
     width: 60%;
  }

  .section-1 {
    text-align: center;
  }

  .section-2 {
    border-bottom: 0.5px solid #014f80;
    margin-bottom: 20px;
  }

  .section-4 {
    padding-bottom: 20px;
  }

  .section-3, .section-4 {
    padding-right: 15px;
  }

  .footer {
    background-color: #014f80;  
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }

  .footer p {
    font-size: 12px;
  }

  .nav-footer {
    font-size: 8px;
    padding-left: 10px;
  }

  .nav-footer a {
    border-right: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
  }

  .nav-footer-element:hover {
    color: blanchedalmond;
  }

.wrapper-show {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px 2.5px rgba(221, 221, 221, 1);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.wrapper-show:hover {
  box-shadow: 0 0 2px 0.5px #014f80;
}

.chapter {
  color: silver;
}

#chapter-1, #chapter-2 {
  display: none;
}

#chapter-2 {
  margin-top: 15px;
}

.section-students {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.black-card {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 2.5px rgba(221, 221, 221, 1);
}

.content {
    margin-right: 15px;
}
